@import 'global';

.logo{
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

header{
    position: fixed;
    top: 0;
    border-top: 30px solid rgb(167, 227, 214);
    width: 100%;

}

.wrapper{
    padding-top: 300px;
    padding-bottom: 100px;
}

nav{
    @include caja-flex(space-between, center, nowrap);

    ul{
        display:flex;
        padding: 0;

        a{
            padding: 10px;
            font-size: 1.6rem;
            font-weight: bold;
        }

        a:hover{
            background-color: rgb(240, 255, 255);
            color: gray;
            transform: scale(1.2);
        }  
    }
}

.servicios{
    div{
        text-align: center;
    }

    .tipo-servicios{
        background-color: $contenedor-color;
        @include caja-flex (center, center, nowrap);
        i{
            font-size: 40px;
            color: rgb(228, 156, 73);
        }

        p{
            text-align: justify;

        }
        div{
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 15px;
        }
    }
}

#mision{
    width: 70%;
    margin: auto;
    padding-top: 70px;
    text-align: center;
    display: flex;
    div{
        span{
            color: aliceblue;
        }
    }

}
.servicio-fila{
    width: 100%;
    text-align: center;
}


footer{
    min-height: 80px;
    background-color: rgb(228, 156, 73);
    margin-top: 0;
    .footer-content{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;

        .iconos{
            i{
                font-size: 30px;
                color: antiquewhite;
                margin-left: 10px;
                margin-top: 15px;
            }


        }
    }
}

@import 'medios';


